# This workflow will lint the HanserDownloader repo
name: build

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        python-version: ["3.10", "3.11", "3.12", "3.13", "3.14"]
    steps:
      - name: Set up Python
        uses: actions/setup-python@v6
        with:
          python-version: ${{ matrix.python-version }}
      - name: Checkout repo
        uses: actions/checkout@v6

      - name: Install uv
        uses: astral-sh/setup-uv@v7

      - name: Installation
        run: uv sync --all-extras --dev

      - name: Lint with ruff
        uses: astral-sh/ruff-action@v3
      - name: Check formatting with ruff
        uses: astral-sh/ruff-action@v3
        with:
          args: "format --check"
      - name: Typecheck with pyright
        run: uv run pyright

      - name: Thorough check with pylint
        run: uv run pylint download_pdfs.py
      - name: Test with pytest
        run: |
          uv run coverage run -m pytest --durations=10
          uv run coverage report -m
          uv run coverage json
          uv run coverage html
      - name: Archive code coverage results
        uses: actions/upload-artifact@v6
        with:
          name: code-coverage-report-${{ matrix.python-version }}
          path: htmlcov/
